body,html{
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  font-weight: normal;
}
body{
  padding: 0;
  margin: 0;
}
.bg-blue{
  background: #9999cc;
  padding: 5rem;
}
.top-img{
  background: #9999cc;
}
.img-caption h3{
  font-size: 3rem;
  padding: 3rem 0;
  margin: auto;
  text-align: center;
}
.img-caption{
  padding: 10rem 0;
  width: 100%;
  padding: 0;
  margin: auto 0;
}
.top-img img {
  width: 70%;
  height: 100%;
  float: right;
  padding: 0;
  }
.bg-blue h1{
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 10px;
}
.fab{
  font-size: 2.5rem;
  color: aliceblue;
}
.fab:hover{
  opacity: 0.5;
}
.icon{
  text-align: center;
  padding-top: 2.5rem;
}
.fa-facebook{
  margin-right: 5rem;
}
hr{
  background: white;
  width: 90%;
}
.me{
  padding:0 13%;
}
.introduction{
  text-align: left;
  margin: auto;
}
.introduction h1{
  font-weight: normal;
}
footer{
  background: rgba(3,3,3,0.7);
  margin: 0;
}
.vimeo{
  text-align: center;
}
.vimeo p{
  font-size: 3rem;
}
.lead{
  letter-spacing: 8px;
}
.margin{
  margin-top: 15rem;
}
footer p{
  font-size: 2rem;
}
.me{
  float: left;
}
.introduction{
  float: right;
}
iframe{
  width: 640px;
  height: 320px;
}



@media(max-width: 1500px){
body,html{
  width: 100%;
  height: 100%;
}
.fab{
  font-size: 1.5rem;
}
  .bg-base h1{
  text-align: left;
  font-size: 3rem;
}
.img-caption h3{
  font-size: 1.5rem;
  padding: 1rem 0;
  margin: auto;
  text-align: center;
}
.bg-blue{
  padding: 2rem;
}
}

@media(max-width: 1000px){

  iframe{
  width: 500px;
  height: 250px;
  }
}

@media(max-width: 648px){
  /* .col-sm-12{
    width: 100%;
  } */
  .me , .introduction{
  clear: both;
  text-align: center;
  margin: auto;
  padding: 0;
  }
  .me{
    margin-bottom: 2rem;
  }
  .bg-base h1{
    text-align: center;
  }
  .top-img img {
  width: 100%;
  clear: both;
  padding: 0;
  }

}
